html {
}

body {
  background-image: url(./images/mountain2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.jack-w {
  font-family: "Baskervville", serif;
}

header {
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

.lead-title {
  font-size: 2rem;
}

.title-text {
  font-family: "Poppins", sans-serif;
}
