html {
}

body {
}

header {
  background-color: slategray;
  background-image: url(./images/mountain2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

.lead {
  font-size: 1.7rem;
}
